@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegacion {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #393939;
  background-color: #F2F2F2;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.navegacion .logo {
  width: 275px;
  height: 60px;
  padding-top: 3px;
  padding-left: 30px;
  padding-bottom: 3px;
  cursor: pointer;
}
.navegacion ul {
  list-style: none;
}
.navegacion .menu {
  margin-bottom: 0px;
}
.navegacion .menu .caja {
  display: inline-block;
  background: linear-gradient(to top, transparent 0%, #f3f0ee 100%); /* Fondo con gradiente invertido */
  background-size: 100% 100%; /* Tamaño inicial del gradiente */
  background-repeat: no-repeat;
  transition: background-size 0.3s, color 0.3s;
  height: 60px;
}
.navegacion .menu .caja:hover {
  background-color: #03A696;
  background-size: 100% 0%;
  color: #f3f0ee;
}
.navegacion .menu .caja li {
  position: relative;
  display: inline-block;
}
.navegacion .menu .caja li:hover .submenu {
  visibility: visible;
  opacity: 1; /* Pasa el cursor y se visualiza el submenu */
}
.navegacion .menu .caja li .enlace {
  font-family: "Prompt", sans-serif;
  display: block;
  padding: 15px 20px;
  color: inherit;
  text-decoration: none;
}
.navegacion .submenu {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 0;
  z-index: 10000;
  position: absolute;
  background: #f4f4f4;
  width: 150%;
  visibility: hidden;
  opacity: 0; /* El submenu se mantiene oculto*/
  transition: opacity 0.6s;
}
.navegacion .submenu a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #686868;
  transition: all 0.3s;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}
.navegacion .submenu a:hover {
  color: #032859;
}
.navegacion .container {
  width: 200px;
  margin: 0px;
  padding-top: 15px;
}
.navegacion .container .search-bar {
  width: 350px;
  background-color: #dbdbdb;
  display: flex;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 40px;
}
.navegacion .container .search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 13px;
}
.navegacion .container .search-bar button {
  border: 0;
  border-radius: 50px;
  background: #dbdbdb;
}
.navegacion .container .search-bar button img {
  width: 25px;
  height: 25px;
}

.carrito {
  width: 30px;
  height: 30px;
  color: #03738C;
  position: relative;
  top: 10px;
  right: 70%;
}
.carrito:hover {
  cursor: pointer;
}

.container-icon {
  margin-top: 10;
  position: relative;
}
.container-icon .count-products {
  position: absolute;
  top: 50%;
  right: 30%;
  background-color: #03A696;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container-icon .count-products #contador-productos {
  font-size: 10px;
  font-family: "Prompt", sans-serif;
}
.container-icon .container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #F2F2F2;
  width: 500px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container-icon .container-cart-products .icon-close {
  width: 25px;
  height: 25px;
}
.container-icon .container-cart-products .icon-close:hover {
  stroke: rgb(176, 27, 27);
  cursor: pointer;
}
.container-icon .container-cart-products .cart-product {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container-icon .container-cart-products .cart-product .info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}
.container-icon .container-cart-products .cart-product .info-cart-product .titulo-producto-carrito {
  font-size: 17px;
  color: #0e4d47;
}
.container-icon .container-cart-products .cart-product .info-cart-product .precio-producto-carrito {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}
.container-icon .container-cart-products .cart-product .info-cart-product .cantidad-producto-carrito {
  font-weight: 400;
  font-size: 18px;
}
.container-icon .container-cart-products .cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.container-icon .container-cart-products .cart-total h3 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #0e4d47;
}
.container-icon .container-cart-products .cart-total .total-pagar {
  font-size: 18px;
  font-weight: 800;
}
.container-icon .container-cart-products .cart-empty {
  font-family: "Prompt", sans-serif;
  padding: 20px;
  text-align: center;
}
.container-icon .container-cart-products .hidden {
  display: none;
}
.container-icon .hidden-cart {
  display: none;
}

#carouselExampleInterval img {
  width: 100%;
  height: auto;
}

body {
  background-color: rgba(74, 178, 168, 0.3960784314);
}
body .titulo {
  padding: 35px;
  color: #033576;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  font-family: "Prompt", sans-serif;
}
body .container-items {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}
body .container-items .item {
  border-radius: 10px;
  background-color: #F2F2F2;
  width: 300px;
  justify-items: center;
  transition: all 0.3s;
}
body .container-items .item:hover .info-product button {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s;
}
body .container-items .item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
body .container-items .item img {
  max-width: 100%;
  height: 175px;
  object-fit: cover;
  padding-left: 30px;
  border-radius: 10px 10px 0 0;
  transition: all 1.5s;
  padding-top: 10px;
}
body .container-items .item .info-product {
  padding: 20px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  color: #03738C;
}
body .container-items .item .info-product .precios {
  display: flex;
}
body .container-items .item .info-product .precios .impuesto {
  padding-left: 9px;
  color: #787878;
  font-size: 12px;
}
body .container-items .item .info-product h2 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
  font-weight: 600;
  font-family: "Prompt", sans-serif;
}
body .container-items .item .info-product .price {
  font-size: 18px;
  font-weight: 600;
  color: #595858;
  font-family: "Prompt", sans-serif;
}
body .container-items .item .info-product button {
  border: none;
  background: none;
  background-color: #03738C;
  color: white;
  padding: 5px 10px;
  transition: all 0.3s;
  cursor: pointer;
  font-family: "Prompt", sans-serif;
  visibility: hidden;
  opacity: 0;
}
body .container-items .item .info-product button:hover {
  background-color: #032859;
}
body .container-items .item:hover img {
  transform: scale(0.9);
}
body .container-items .item figure {
  overflow: hidden;
}

.footer {
  text-transform: capitalize;
  background-color: #f4f4f4;
  padding: 50px 0;
}
.footer .container-foot {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container-foot .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .container-foot .footer-row .footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer .container-foot .footer-row .footer-links .referencias {
  font-family: "Prompt", sans-serif;
  color: #4c4c4c;
  margin-bottom: 25px;
  font-weight: 300;
  border-bottom: 2px solid #03A696;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 20px;
}
.footer .container-foot .footer-row .footer-links ul {
  padding: 0px;
  list-style: none;
}
.footer .container-foot .footer-row .footer-links ul a {
  font-size: 18px;
  text-decoration: none;
  color: #929292;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  padding-bottom: 10px;
  font-family: "Prompt", sans-serif;
}
.footer .container-foot .footer-row .footer-links ul a:hover {
  color: #032859;
  padding-left: 6px;
}
.footer .container-foot .footer-row .footer-links .social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #2c2c2c;
  transition: all 0.5s ease;
  font-size: 30px;
}
.footer .container-foot .footer-row .footer-links .social-link a:hover {
  background-color: rgb(192, 192, 192);
}

/*# sourceMappingURL=styles.css.map */
