
.carrito{
    width: 30px;
    height:30px; 
    color:#03738C;
    position:relative;
    top:10px;
    right:70%;
    &:hover{
        cursor: pointer;
    }
}

.container-icon{
    
    margin-top:10;
    position: relative;
    .count-products{
        position:absolute;
        top:50%;
        right:30%;
        background-color: #03A696 ;
        color: white;
        width:20px;
        height:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:50%;
        #contador-productos{
            font-size:10px;
            font-family: 'Prompt', sans-serif;
        }
       
    }
    .container-cart-products{
        position:absolute;
        top:50px;
        right:0;
        background-color: #F2F2F2;
        width:500px;
        z-index:1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        border-radius:10px;
        .icon-close{
            width:25px;
            height:25px;
            &:hover{
                stroke:rgb(176, 27, 27);
                cursor: pointer;
            }
        }
        .cart-product{
            display:flex;
            padding:30px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            .info-cart-product{
                display:flex;
                justify-content: space-between;
                flex:0.8;
                .titulo-producto-carrito{
                    font-size: 17px;
                    color:#0e4d47  ;

                }
                .precio-producto-carrito{
                    font-weight: 700;
                    font-size: 18px;
                    margin-left: 10px;
                }
                .cantidad-producto-carrito{
                    font-weight: 400;
                    font-size: 18px;

                }
            }
        }
        .cart-total{
            display:flex;
            justify-content: center;
            align-items: center;
            padding:20px 0;
            gap:20px;
            h3{
                padding-top: 10px;
                font-size: 18px;
                font-weight: 700;
                color:#0e4d47 ;
            }
            .total-pagar{
                font-size: 18px;
                font-weight: 800;
            }
        }
        .cart-empty{
            font-family: 'Prompt', sans-serif;
            padding:20px;
            text-align: center;
         }
        .hidden{
            display:none;
        }
    }
    .hidden-cart{
        display:none;
    }
 
}